html, body {
	height: 100vh;
	width: 100vw;
	margin: 0;
}

*{
	font-family: 'Mulish', sans-serif;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a{
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

.arcus-logo{
	position: fixed;
	left: 20px;
	top: 20px;
	height: 75px;
	z-index: 999;
}

model-viewer{
	width: 100%;
	height: 100%;
}

.arjs-loader {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arjs-loader div {
	text-align: center;
	font-size: 1.25em;
	color: white;
}

.prompt-body{
	width: 100vw;
	height: 100vh;
}

.prompt-container{
	display: none;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 80%;
	text-align: center;
}

.browser-logo{
	height: 150px;
	margin: 0 auto;
	display: block;
}

.my-3{
	margin: 1.5em 0;
}

.mb-2{
	margin-bottom: 0.5em 0;
}

.copy-link-container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
}

#copy-input-link{
	height: 47px;
	border: 1px solid #000;
	border-radius: 5px 0 0 5px;
	border-right: none;
	padding: 0.5em 1em;
	color: #000;
}

.copy-button{
	width: 50px;
	height: 100%;
	border: 1px solid #000;
	background-color: #FFF;
	margin-left: -1px;
	border-radius: 0 5px 5px 0;
	font-size: 12px;
	cursor: pointer;
	padding: 0;
	text-align: center;
}

.ar-buttons {
	background-color: aliceblue;
	width: 180px;
	height: 60px;
	text-align: center;
	border-radius: 10px;
	position: fixed;
	bottom: 20px;
	outline: none;
	border: 2px solid lightblue;
	font-size: 16px;
	font-weight: 700;
}

.btn-logo {
	height: 50px;
	margin-left: 15px;
}

#ar-button,
#ar-button-desktop{
	right: calc( 50% + 10px);
	display: flex;
	align-items: center;
	line-height: 15px;
}

#marker-button{
	right: calc( 50% - 200px);
}

#marker-button a{
	display: flex;
	align-items: center;
	line-height: 15px;
	height: 100%;
}

#ar-button-desktop{
	display: none;
	cursor: pointer;
}

.popup-ar-desktop{
	display: none;
	position: absolute;
	background-color: #FFF;
	border-radius: 10px;
	padding: 1rem;
	padding-bottom: 3rem;
	width: 280px!important;
	bottom: 95px;
	right: calc( 50% - 140px);
	text-align: center;
	border: 2px solid lightblue;
}

.sub-header{
	font-size: 24px;
}

.qr-code{
	height: 160px;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.info{
	font-size: 18px;
}

.popup-close{
	position: absolute;
	text-align: center;
	width: 100%;
	padding-top: 1rem;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	height: 50px;
	margin-left: -1rem;
}

@media only screen  and (max-width: 576px) {
	.ar-buttons{
    width: 155px;
    line-height: 36px;
    position: fixed;
    bottom: 70px;
    font-size: 14px;
	}

	#ar-button{
		right: 20px;
	}
	
	#marker-button{
		left: 20px;
	}
}